<form [formGroup]="myForm()" (ngSubmit)="onSubmit()">
    <div *ngFor="let control of jsonFormDataSignal()?.controls">
        <label [for]="control.name">{{ control.label }}</label>

        @if (['text', 'password', 'number', 'search', 'tel', 'url'].includes(control.type) && control.controlType !==
        'nested' && control.controlType !== 'array') {
        <input [type]="control.type" [formControlName]="control.name" [value]="control.value">
        }

        @if (control.controlType === 'array') {
        @for (value of control.value; track $index) {
        <input [type]="control.type" [formControlName]="control.name" [value]="value">
        }
        }

        @if (control.controlType === 'nested') {
        @for (control of control.controls; track $index) {
        <input [type]="control.type" [formControlName]="control.name" [value]="control.value">
        }
        }

        @if (control.type === 'checkbox') {
        <input [type]="control.type" [formControlName]="control.name" [checked]="control.value"
            (change)="checkBoxChange($event, control.name)">
        }

        @if (control.type === 'range') {
        <input [type]="control.type" [id]="control.name" [formControlName]="control.name" [min]="control.options?.min"
            [max]="control.options?.max" [step]="control.options?.step" (change)="rangeChange($event)" />
        }

        @if (control.type === 'toggle') {
        <label class="switch">
            <input [id]="control.name" [type]="'checkbox'" [formControlName]="control.name" [checked]="control.value"
                [value]="control.value" (change)="checkBoxChange($event, control.name)">
            <span class="slider round"></span>
        </label>
        }

        <textarea *ngIf="control.type === 'textarea'" [formControlName]="control.name"
            [value]="control.value"></textarea>
        <!-- Validation error messages -->
        <div *ngIf="myForm()?.get(control.name)?.invalid && myForm()?.get(control.name)?.touched"
            style="margin-top: 15px; margin-bottom: 15px;">
            <small *ngIf="myForm()?.get(control.name)?.errors?.['required']">This field is required</small>
            <small *ngIf="myForm()?.get(control.name)?.errors?.['min']">Minimum value not met</small>
            <small *ngIf="myForm()?.get(control.name)?.errors?.['max']">Maximum value exceeded</small>
            <small *ngIf="myForm()?.get(control.name)?.errors?.['minlength']">Minimum length not met</small>
            <small *ngIf="myForm()?.get(control.name)?.errors?.['maxlength']">Maximum length exceeded</small>
            <small *ngIf="myForm()?.get(control.name)?.errors?.['requiredTrue']">This field is required</small>
            <small *ngIf="myForm()?.get(control.name)?.errors?.['email']">Email pattern not met</small>
            <small *ngIf="myForm()?.get(control.name)?.errors?.['pattern']">Pattern not met</small>
            <small *ngIf="myForm()?.get(control.name)?.errors?.['nullValidator']">No Operation</small>
        </div>
    </div>

    <button type="submit" [disabled]="!myForm()?.valid">Submit</button>
</form>

This is the form now:
<pre>
    {{myForm().value | json}}
</pre>